<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.TypeForProblemsMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.TypeForProblems" >
    <constructor >
      <idArg column="pro_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="type" jdbcType="BIT" javaType="java.lang.Boolean" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    pro_id, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from type_for_problems
    where pro_id = #{proId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from type_for_problems
    where pro_id = #{proId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pojo.TypeForProblems" >
    insert into type_for_problems (pro_id, type)
    values (#{proId,jdbcType=BIGINT}, #{type,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.TypeForProblems" >
    insert into type_for_problems
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="proId != null" >
        pro_id,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="proId != null" >
        #{proId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.TypeForProblems" >
    update type_for_problems
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=BIT},
      </if>
    </set>
    where pro_id = #{proId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.TypeForProblems" >
    update type_for_problems
    set type = #{type,jdbcType=BIT}
    where pro_id = #{proId,jdbcType=BIGINT}
  </update>
</mapper>